@using CalisthenicsSystem.Web.Extensions
@{
    ViewBag.Title = "No Rights";
}

<div class="jumbotron">
    <div clas="container">
        <div class="row">
            <img src="/Content/images/no-rights.jpg" class="img-thumbnail" style="display: block;margin: 0 auto"/>
            <h2 style="text-align: center; color:chocolate">Нямаш нужните права, за да достъпиш тази страница !</h2>
        </div>
    </div>
</div>


